@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

@font-face {
  font-family: SFProText;
  src: url(../fonts/SFProText-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: SFProText;
  font-weight: 400;
  src: url(../fonts/SFProText-Regular.ttf);
}

@font-face {
  font-family: SFProText;
  src: url(../fonts/SFProText-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: SFProText;
  src: url(../fonts/SFProText-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "DM Serif Display script=latin rev=2";
  src: url(../fonts/DMSerifDisplay-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Regular-italic;
  src: url(../fonts/DMSerifDisplay-Italic.ttf);
  font-weight: 400;
}

html,
body {
  scroll-behavior: smooth;
  background-color: rgb(247 247 247);
}

.chassis-dashboard{
  background-color: rgb(247 247 247) !important;
}

.btn-info{
  background-color: #3d786e !important;
  border-color: #3d786e !important;
}


/* NavBar */
.navbar.bg-info{
  background-color: #3d786e !important;
}
.navbar-nav li.nav-item .dropdown-toggle{
  border-radius: 33px;
  padding-right: 9px;
  padding-left: 9px;
  width: 40px;
  height: 40px;
  text-align: center;
}
.navbar-nav li.nav-item .dropdown-toggle:hover{
  background: #558f85;
}
.navbar-nav li.nav-item a.dropdown-toggle::after{
  display: none;
}
.navbar-dark .navbar-nav .nav-link{
  color: #fff !important;
}
.navbar-nav .dropdown-menu{
  width: 300px;
  max-width: 300px;
}
.navbar-nav .notif-title{
  padding: 0.25rem 1.5rem;
}
.navbar-nav .dropdown-item.disabled{
  font-size: 14px;
  padding-left: 10px;
}
.input-group-text i.fa{
  color: #fff;
}
input#search-input {
  background-color: #71b1a69e;
  border: transparent !important;
  color: #fff;
  border-left: transparent;
}
input#search-input::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
.input-group-prepend .input-group-text{
  background-color: #71b1a69e;
  border: transparent;
  border-right: transparent;
}


/* Sidebar */
.b-sidebar-body{
    background-color: #004d40;
}
.sidebar-menu ul{
    display: block;
    margin-left: 0;
    padding-inline-start: 0;
}
.sidebar-menu ul li{
    display: block;
    padding: 10px;
}
.sidebar-menu ul li.active, .sidebar-menu ul li:hover{
    background-color: #3d786e;
    border-radius: 8px;
    cursor: pointer;
}
.sidebar-menu ul li a{
    color: #fff;
}
.sidebar-menu ul li a:hover{
    text-decoration: none;
    cursor: pointer;
}
.b-sidebar > .b-sidebar-header{
    background: #00695c;
    color: #fff;
    border-bottom: 1px solid #9e9c9c;
}
.b-sidebar > .b-sidebar-header strong{
    font-size: 1.2rem;
    font-weight: 400;
}
.b-sidebar > .b-sidebar-footer {
  background: #3d786e;
}

.account-info, .account-info2 {
    border-bottom: 1px solid #9e9c9c;
    background: #00695c;
}
.account-info img{
    width: 48px;
    height: 48px;
    float: left;
}
.account-info .btn-secondary{
  display: flex;
}
.account-info .btn-secondary, .account-info .btn-secondary:hover,
.account-info .btn-secondary:active, .show > .btn-secondary.dropdown-toggle{
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.account-info .dropdown-toggle::after{
  margin-top: 9px;
}
.account-info .btn-group{
  width: 100%;
}

.account-info .dropdown-menu.show{
  width: 100%;
}
.account-info .dropdown-item.disabled{
  font-size: 15px;
  padding: 0.25rem 1.5rem;
  font-weight: normal;
}
.account-info .dropdown-item{
  padding: 0.75rem 1.7rem;
  font-weight: 500;
}
.account-info .dropdown-item:hover, .account-info .dropdown-item:focus,
.account-info .dropdown-item:active {
  background-color: #e9ecef;
}
.account-info .exit-chassis .dropdown-item{
  color: red;
}

/* Dashboard Global */ 
.nav-tabs{
  border: none !important;
}
.nav-tabs .nav-link{
  font-weight: 500;
  color: #495057;
  border: none !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover{
  color: #1976d2 !important;
  border-bottom: 2px solid #1976d2 !important;
  border: none;
}
.rp-1 .table thead th, .rp-1 .table thead td{
  border-top: none !important;
}
.rp-1 .table thead th{
  border-bottom: 1px solid #dee2e6;
}
.rp-1 .table thead th div{
  color: #666666;
  font-weight: 500;
  font-size: 14px;
}

.products .actions ul li, .Customers .actions ul li{
  display: block;
}
.products .actions ul li a, .Customers .actions ul li a{
  font-size: 28px;
}
.products .actions ul li a .fa-pencil, .Customers .actions ul li a .fa-pencil{
  color: #4caf50;
}
.products .actions ul li a .fa-user-plus, .Customers .actions ul li a .fa-user-plus{
  color: #1976d2;
}
.products .actions ul li a .fa-file, .Customers .actions ul li a .fa-file{
  color: #FF5252;
}
.products .product-info a.ProductName, .Customers .product-info a.ProductName{
  color: #1976d2;
  font-weight: 500;
  font-size: 18px;
}
.rate .fa-star {
  color: #FF9800;
  font-size: 18px;
}


.customer .art-img{
  display: block;
}
.customer .art-img img{
  border: 2px solid #6666;
}
.customer .art-img .view-details{
  color: #1976d2;
  font-weight: 500;
}
.customer .art-img .writer-name{
  color: #666666;
}
.customer .Art-Content .art-title{  
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.customer .Art-Content .art-title a.ArtTitle{
  color: #1976d2;
  font-weight: 500;
  font-size: 18px;
}
.customer .Art-Content .for-editing{
  background-color: #ffd54f !important;
  border: none;
  padding: 4px 18px;
  border-radius: 30px;
  color: #000;

}
.customer .art-img .safe-to-use{
  background-color: #4caf50 !important;
  border: none;
  padding: 3px 6px;
  border-radius: 30px;
  color: #fff;
}

.white-bg{
  background-color: #fff;
}
.btn-create-article{
  background-color: #4caf50 !important;
  border: none;
  padding: 8px 20px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

/* Account Settings */
.general-settings .custom-control-inline{
  display: block !important;
}

.blue-bg-with-text{
  background-color: #1976d2;
  color: #fff;
  text-align: center;
  display: block;
  padding: 8px;
  font-weight: 500;
  width: 100%;
}

.color-gray{
  color: #818181;
}
.box-shadow-default{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* FOR NOTIFICATION */
.notification-button {
  cursor: pointer;
}
.notification-list {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
}
.notification {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.dismiss-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}
.dismiss-button:hover {
  text-decoration: underline;
}


/* .settings-button {
  cursor: pointer;
}
.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
label {
  display: inline-block;
  width: 100px;
} */

/* SETTINGS DROPDOWN*/
.icon-toggle {
  cursor: pointer;
}
.icon-toggle i.fa{
  font-size: 22px;
}
.right-settings-info p{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}
.right-settings-info span{
  font-size: 13px;
}
.fa-toggle-on{
  color: #1976D2;
}
.fa-toggle-ff{
  color: #fff;
}


